# Buildning a CSV Data API with fastAPI and Pandas

EDA

In [24]:
import pandas as pd

df = pd.read_csv("data/Sales.csv", parse_dates=True, index_col=0)
df.head()

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [25]:
df.shape

(113036, 17)

In [26]:
df=df.sort_index() # sorts in decending order
df.head()

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2011-01-01,1,January,2011,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529
2011-01-01,1,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439
2011-01-01,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419
2011-01-01,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621
2011-01-01,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813

In [27]:
df.columns

Index(['Day', 'Month', 'Year', 'Customer_Age', 'Age_Group', 'Customer_Gender',
       'Country', 'State', 'Product_Category', 'Sub_Category', 'Product',
       'Order_Quantity', 'Unit_Cost', 'Unit_Price', 'Profit', 'Cost',
       'Revenue'],
      dtype='str')

In [28]:
df.info()

<class 'pandas.DataFrame'>
DatetimeIndex: 113036 entries, 2011-01-01 to 2016-07-31
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Day               113036 non-null  int64
 1   Month             113036 non-null  str
 2   Year              113036 non-null  int64
 3   Customer_Age      113036 non-null  int64
 4   Age_Group         113036 non-null  str
 5   Customer_Gender   113036 non-null  str
 6   Country           113036 non-null  str
 7   State             113036 non-null  str
 8   Product_Category  113036 non-null  str
 9   Sub_Category      113036 non-null  str
 10  Product           113036 non-null  str
 11  Order_Quantity    113036 non-null  int64
 12  Unit_Cost         113036 non-null  int64
 13  Unit_Price        113036 non-null  int64
 14  Profit            113036 non-null  int64
 15  Cost              113036 non-null  int64
 16  Revenue           113036 non-null  int64
dtypes: int64(9), str(8)
memory usage: 15.5 MB

In [29]:
df.index

DatetimeIndex(['2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-02', '2011-01-02', '2011-01-02',
               '2011-01-02', '2011-01-03',
               ...
               '2016-07-31', '2016-07-31', '2016-07-31', '2016-07-31',
               '2016-07-31', '2016-07-31', '2016-07-31', '2016-07-31',
               '2016-07-31', '2016-07-31'],
              dtype='datetime64[us]', name='Date', length=113036, freq=None)

In [30]:
# Slicing the data
df.loc["2014-01": "2014-02"]

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2014-01-01,1,January,2014,24,Youth (<25),F,United Kingdom,England,Bikes,Road Bikes,"Road-150 Red, 52",1,2171,3578,1264,2171,3435
2014-01-01,1,January,2014,30,Young Adults (25-34),F,United Kingdom,England,Clothing,Jerseys,"Short-Sleeve Classic Jersey, L",4,42,54,39,168,207
2014-01-01,1,January,2014,21,Youth (<25),F,United States,California,Clothing,Vests,"Classic Vest, S",3,24,64,116,72,188
2014-01-01,1,January,2014,29,Young Adults (25-34),F,Australia,Queensland,Accessories,Bottles and Cages,Road Bottle Cage,15,3,9,68,45,113
2014-01-01,1,January,2014,39,Adults (35-64),F,United States,California,Accessories,Helmets,"Sport-100 Helmet, Red",6,13,35,128,78,206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-02-28,28,February,2014,24,Youth (<25),M,United States,California,Accessories,Tires and Tubes,HL Mountain Tire,21,13,35,447,273,720
2014-02-28,28,February,2014,44,Adults (35-64),M,Germany,Nordrhein-Westfalen,Clothing,Caps,AWC Logo Cap,30,7,9,25,210,235
2014-02-28,28,February,2014,34,Young Adults (25-34),M,Australia,Victoria,Accessories,Bottles and Cages,Water Bottle - 30 oz.,12,2,5,23,24,47
2014-02-28,28,February,2014,40,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-550-W Yellow, 42",1,713,1120,385,713,1098
2014-02-28,28,February,2014,45,Adults (35-64),F,Australia,New South Wales,Accessories,Tires and Tubes,ML Road Tire,1,9,25,13,9,22

In [ ]:
df["State"].value_counts()

State
California             22450
British Columbia       14116
England                13620
Washington             11264
New South Wales        10412
Victoria                6016
Oregon                  5286
Queensland              5220
Saarland                2770
Nordrhein-Westfalen     2484
Hessen                  2384
Seine (Paris)           2328
Hamburg                 1836
Seine Saint Denis       1684
Nord                    1670
South Australia         1564
Bayern                  1426
Hauts de Seine          1084
Essonne                  994
Yveline                  954
Tasmania                 724
Seine et Marne           394
Moselle                  386
Loiret                   382
Val d'Oise               264
Garonne (Haute)          208
Brandenburg              198
Val de Marne             158
Charente-Maritime        148
Somme                    134
Loir et Cher             120
Pas de Calais             90
Alberta                   56
Texas                     30
Illinois                  28
Ohio                      28
New York                  20
Florida                   14
Utah                      10
Kentucky                  10
South Carolina            10
Wyoming                    8
Georgia                    8
Ontario                    6
Montana                    6
Missouri                   6
Minnesota                  6
Arizona                    4
North Carolina             4
Alabama                    4
Mississippi                4
Virginia                   4
Massachusetts              2
Name: count, dtype: int64

In [33]:
df["Product_Category"].unique()

<StringArray>
['Bikes', 'Accessories', 'Clothing']
Length: 3, dtype: str

In [35]:
df.query("Product_Category == 'Accessories'")

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2013-07-01,1,July,2013,41,Adults (35-64),M,Germany,Hessen,Accessories,Bottles and Cages,Road Bottle Cage,28,3,9,150,84,234
2013-07-01,1,July,2013,41,Adults (35-64),M,Germany,Hessen,Accessories,Bottles and Cages,Road Bottle Cage,5,3,9,27,15,42
2013-07-01,1,July,2013,42,Adults (35-64),F,France,Seine Saint Denis,Accessories,Helmets,"Sport-100 Helmet, Blue",2,13,35,31,26,57
2013-07-01,1,July,2013,28,Young Adults (25-34),F,Australia,New South Wales,Accessories,Bottles and Cages,Water Bottle - 30 oz.,2,2,5,5,4,9
2013-07-01,1,July,2013,33,Young Adults (25-34),F,United States,Washington,Accessories,Tires and Tubes,Patch Kit/8 Patches,30,1,2,17,30,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-07-31,31,July,2016,25,Young Adults (25-34),M,Germany,Saarland,Accessories,Tires and Tubes,Touring Tire Tube,18,2,5,38,36,74
2016-07-31,31,July,2016,39,Adults (35-64),F,United States,California,Accessories,Cleaners,Bike Wash - Dissolver,5,3,8,24,15,39
2016-07-31,31,July,2016,39,Adults (35-64),F,United States,California,Accessories,Fenders,Fender Set - Mountain,19,8,22,258,152,410
2016-07-31,31,July,2016,51,Adults (35-64),M,Germany,Saarland,Accessories,Tires and Tubes,ML Mountain Tire,6,11,30,82,66,148
2016-07-31,31,July,2016,42,Adults (35-64),F,United States,California,Accessories,Tires and Tubes,Patch Kit/8 Patches,7,1,2,7,7,14

In [36]:
df["Country"].value_counts()

Country
United States     39206
Australia         23936
Canada            14178
United Kingdom    13620
Germany           11098
France            10998
Name: count, dtype: int64

In [ ]:
df["Country"].value_counts().to_json() # Convert to json

'{"United States":39206,"Australia":23936,"Canada":14178,"United Kingdom":13620,"Germany":11098,"France":10998}'

## Profit per country

In [43]:
import duckdb

duckdb.query(
    """
    SELECT country, SUM(profit) as profit
    FROM df
    GROUP BY country
    ORDER BY profit desc"""
)

┌────────────────┬──────────┐
│    Country     │  profit  │
│    varchar     │  int128  │
├────────────────┼──────────┤
│ United States  │ 11073644 │
│ Australia      │  6776030 │
│ United Kingdom │  4413853 │
│ Canada         │  3717296 │
│ Germany        │  3359995 │
│ France         │  2880282 │
└────────────────┴──────────┘

In [ ]:
# Convert to json
duckdb.query(
    """
    SELECT country, SUM(profit) as profit
    FROM df
    GROUP BY country
    ORDER BY profit desc"""
).df().to_json()

'{"Country":{"0":"United States","1":"Australia","2":"United Kingdom","3":"Canada","4":"Germany","5":"France"},"profit":{"0":11073644.0,"1":6776030.0,"2":4413853.0,"3":3717296.0,"4":3359995.0,"5":2880282.0}}'